@charset "utf-8"; 
#dl-menu{
    position: fixed;
    top: 2.85em;
    left: 01em;
    display: none;
}
#dl-menu .dl-menu{
    margin: 0.5em 0;
}
.dl-menuwrapper button{}
.dl-menuwrapper button{
    background: #ec243b;
}
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul{
    background: #28398b;
}
.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after{
    color: #ffffff;
}
.support-online {
    position: fixed;
    z-index: 9999;
    left: 1em;
    bottom: 1em;
    display: none;
}
.support-online a {
    position: relative;
    margin: 20px 10px;
    text-align: left;
    width: 40px;
    height: 40px;
}
.support-online i {
    width: 40px;
    height: 40px;
    background: #d66e03;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}
.support-online a span {
    border-radius: 2px;
    text-align: center;
    background: rgb(103, 182, 52);
    padding: 9px;
    display: none;
    width: 180px;
    margin-left: 10px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 0px;
    left: 40px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}
.support-online a:hover span {
    display: block;
}
.support-online a {
    display: block;
}
.support-online a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent  rgb(103, 182, 52) transparent transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}
.kenit-alo-circle-fill {
    width: 60px;
    height: 60px;
    top: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75;
    right: -10px;
}
.kenit-alo-circle {
    width: 50px;
    height: 50px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color: #0089B9;
    opacity: .5;
}
.support-online .btn-support {
    cursor: pointer;
}
@media only screen and (min-width : 320px) {
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}
@media only screen and (min-width : 568px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}
@media only screen and (min-width : 800px) {
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {
}
@media only screen and (min-width : 1400px) {
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #header--bdsmphat .blockhotline .col:nth-child(1){display: none;}
    .content-left{display: none;}
    .content-right{width: 100%;}
}
@media only screen and (max-width: 1100px) {
    .grp-product .h-product .item{height: 23em;}
    .menusite >ul>li{padding: 1em 1.2em;}
    .menusite >ul>li >ul{
        top: 100%;
        padding-top:  0;
    }
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 1024px) {
    #header--bdsmphat .titleheader{
        min-width:  50%;
    }
    #header--bdsmphat .blockhotline{padding-left:  0em;}
    #header--bdsmphat .servicegroup{margin-top: 1em;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
}
@media only screen and (max-width: 992px) {
    .itemvideo img{width: 100%;}
    .simply-scroll-container{height: 465px !important;}
    .index-product .row-product .h-product .details .name{margin-top:  1em;}
    .index-product .row-product .h-product .details .name .numstt span{font-size: 4em;}
    .index-product .row-product .h-product .par0{padding-left: 1.5em;}
    .index-product .row-product .h-product .details .name .numstt{
        padding:  1em 0;
    }
    footer .information { padding-left: calc((100% - 750px) / 2);}
    .index-product .row-product .h-product .details h3{margin: 0;}
    footer .col:nth-child(1){width: 100%;}
    .quick-alo-phone{display: none;}
    #header--bdsmphat .blockhotline .hotlineyahoo .phone a{
        font-size: 1em;
    }
    .aboutindex--bdsmphat .blockcontent{width: 100%;padding-right: 35em;}
    .content-body .title h2, .content-right .title h2{
        min-height: 67px;
    }
    .newssupport--bdsmphat .blockvideos .details .imgshow a{
        font-size: 1em;
        top:  50%;
    }
    .aboutindex--bdsmphat .blockimg{width: 40%;}
    .aboutindex--bdsmphat .blockimg a:after{
        height: 75%;
        width:  80%;
    }
    .aboutindex--bdsmphat .blockcontent{
        padding-right: 24em;
    }
    #header--bdsmphat .titleheader{
        min-width:  70%;
    }
    #dl-menu{display: block !important;}   
    .support-online{display: block;}
    #header--bdsmphat .blockhotline{
        margin-top:  0;
    }
    #header--bdsmphat .bannerheader{
        height:  auto;
    }
    #menusite{display: none;}
    .content-right .content figure figcaption h3{
        /* height:  2em; */
        /* overflow:  hidden; */
    }
    .content-right .content figure figcaption h4{
        /* height:  8.5em; */
    }
    .chooseme--bdsmphat .content figure .img{}
    .chooseme--bdsmphat .content figure figcaption{
        width:  100%;
        padding:  0;
        /* text-align:  center; */
    }
    .news_hightlight--bdsmphat .newslist figure{
        margin:  0;
    }
    .news_hightlight--bdsmphat .newslist figure figcaption h3{
        height:  2.8em;
    }
    .news_video_contact--catgia .blocknews{padding: 0;}
}
@media only screen and (max-width: 767px) {
    .grp-product .h-product .item{
        height: 30em;
    }
    .content-body .content-details figure figcaption{margin: 1em 0;padding: 0;}
    #map {height: 250px !important;}
    .simply-scroll-container {height: 445px !important;}
    footer .copyright{text-align: center;}
    footer .information{
        padding-left:  2%;
        padding-right:  2%;
        height:  auto;
        min-height:  auto;
    }
    .index-product .row-product{
        margin-bottom:  1.5em;
    }
    .index-product .row-product .h-product .img >a,.index-product .row-product .h-product .img >a img{width: 100%;}
    .index-product .row-product .h-product .pal0,.index-product .row-product .h-product .par0{padding: 0;}
    #header--banhmi .block-langcart{
        position:  absolute;
    }
    #header--banhmi .bannerheader{padding-left: 15px;padding-right: 15px;}
    .menufixed{padding-left: 15px !important; padding-right: 15px !important;}
    .blockmenu{display: none;}
    #header--banhmi .bannerheader .container{
        display: block;
        text-align:  center;
    }
    .container{padding: 0 15px;}
    #header--bdsmphat .logosite{
        flex: 1 0 25%;
    }
    #header--bdsmphat .servicegroup{
        flex: 1 0 50%;
    }
    #header--bdsmphat .blockhotline .col:nth-child(1){
        display:  none;
    }
    .newssupport--bdsmphat .blockvideos .details .imgshow{
        width:  100%;
    }
    .newssupport--bdsmphat .blockvideos .details .imgshow img{width: 100%;}
    .newssupport--bdsmphat .blockvideos .details .imgshow a{
        left:  15%;
        font-size:  2em;
        top: 55%;
    }
    footer .col:nth-child(1),.newssupport--bdsmphat .blockvideos,.newssupport--bdsmphat .blocknews{
        padding:  15px;
    }
    .submail--bdsmphat .imgwo{
        display:  none;
    }
    .submail--bdsmphat{min-height: auto;}
    .submail--bdsmphat .blocksubmail{
        margin-left: 0;
        width:  80%;
        margin:  0 auto;
        height:  auto;
    }
    .aboutindex--bdsmphat .blockimg{
        position:  relative;
        width:  100%;
        text-align:  center;
        display:  none;
    }
    .aboutindex--bdsmphat .blockcontent{
        padding: 15px;
    }
    .aboutindex--bdsmphat .blockimg a:after{content:none}
    .news_video_contact--catgia .blockvideos{padding-right: 0}
    .sub_mail .content{padding: 1em}
}
@media only screen and (max-width: 670px) {
    .grp-product .h-product .item {height: 24em;}
    #header .title-banner{padding: 0 15px;margin-top: 1em}
    #header .title-banner marquee{margin-top: 1em}
    #header .titleheader{}
    #header .hotline{text-align: left;margin: 0;margin-bottom: 1em;}
    .camket--yume ul li{margin: 0.5em 0;padding:  15px;}
    .camket--yume ul li:first-child{padding-left: 15px}
    .camket--yume ul li:last-child{padding-right: 15px}
    .block_productgrp .tabs_choose #tab_slider li{padding: 0.3em 0.7em; font-size: 1.2em}
    #news_hightlight--yume .group-items .item{clear: both;}
    #news_hightlight--yume .group-items .item >a{width: 47%; float: left}
    #news_hightlight--yume .group-items .item .info{width: 50%; float: right}
    footer #copyright .info{text-align: center}
footer .submail{padding: 0 15px;/* text-align: center; */}
footer .submail .details{display: inline-block; text-align: left}
#header .logosite{width: 100%; text-align: center}
#header .servicegroup{width: 100%}
#header .servicegroup ul li{margin: 1em 0}
#news13-video .blockvideos .details{text-align: center}
.block_productlist--machine .content .items{width: 48%;margin-bottom:  1em;}
.block_productlist--machine .content .items:nth-child(3n+2){
    /* margin-left: 0; */
    /* margin-right:  0; */
    margin:  0;
}
.block_productlist--machine .content .items:nth-child(2n){
    margin-left:  2%;
    margin-bottom:  1em;
}
.block_productlist--machine .content .items:nth-child(2n+1){margin-right:  2%;margin-bottom:  1em;}
.news_video_contact--catgia .blockvideos{padding-right: 0}
}
@media only screen and (max-width : 667px) {
}
@media only screen and (max-width: 500px) {
    .grp-product .h-product .item {height: 20em;}
    .aboutindex--banhmi .contentvideo .details{display: none;}
    .aboutindex--banhmi .contentvideo .details-master{width: 100%;}
    .aboutindex--banhmi .contentvideo{padding: 0;margin-bottom: 1em;}
    .submail--bdsmphat .blocksubmail{width: 90%;}
    #header--bdsmphat .bannerheader .container{flex-wrap: wrap;}
    #header--bdsmphat .blockhotline{display: none;}
    #header--bdsmphat .servicegroup{margin: 0;}
    #header--bdsmphat .titleheader .col .email_gps{display: none;}
    .aboutindex--bdsmphat .blockcontent{
        padding-right:  15px;
        padding-top:  1em;
    }
    .content-right .content figure figcaption h4{
        /* height:  10em; */
    }
    .chooseme--bdsmphat .content figure figcaption h4{
        height: 3em;
    }
    .news_hightlight--bdsmphat .newsest{
        width:  100%;
    }
    .news_hightlight--bdsmphat .newslist{
        width:  100%;
    }
    .news_hightlight--bdsmphat .newsest figure .img{width: 100%;}
    .news_hightlight--bdsmphat  .content .newsest figure h4{height: 3em;}
    .news_hightlight--bdsmphat  .content .newslist figure h4{height: 3em;}
    .news_video_contact--catgia .blockvideos{
        padding:  0;
    }
    .simply-scroll-container {height: 250px !important;}
}
@media only screen and (max-width : 479px) {
    .menufixed .block-langcart{display: none;}
    #header--banhmi .block-langcart{position: relative;text-align:  center;padding-top:  1em;}
    .submail--bdsmphat .blocksubmail .content .groupinput{
        padding:  1em 1em;
    }
    .content-right .content figure figcaption h4{
        /* height:  12em; */
    }
    .chooseme--bdsmphat .content figure figcaption h4{
        height:  3.5em;
        }#header--bdsmphat .titleheader{
            min-width:  100%;
        }
        .simply-scroll-container{}
        .simply-scroll-container{}
    }
    @media only screen and (max-width : 380px) {
        .grp-product .h-product{width: 100%;}
        .grp-product .h-product .item{
            height: 26em;
            width:  100%;
            min-height:  auto;
        }
    }